<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th>Select</th>
        <th>Movie</th>
        <th>Title</th>
        <th>Status</th>
        <th>Encode</th>
      </tr>
    </thead>
    <tbody *ngFor="let movie of moviesList">
      <tr>
        <input type="checkbox">
        <td>{{movie.title}}</td>
        <img src="{{movie.movie}}" width="150" height="200">
        <td>{{movie.status}}</td>
        <button (click)="encodeMovie()">Encode</button>
      </tr>
    </tbody>
  </table>
  <input type="checkbox"> Select All<br>
  <p>{{encodingMessage}}</p>
</div>
<router-outlet></router-outlet>
